@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/woff/JetBrainsMono-Regular.woff') format('woff'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 1024px) { 
  #main {
    font-size: 1.2em;
    overflow: hidden;
  }

  .main-image {
    width: 80%;
  }

  .child {
    position: relative;
    top: 50%;
    height: 100vh;
    width: 100%;
    margin-top: -128px; /* account for padding and border if not using box-sizing: border-box; */
    overflow: hidden;
  }

  #main .imgBorder {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
  }
}

body {
  background-color: #00091e;
  color: #c1c3c8;
  font-family: "Mono";
  font-weight: 700;
  letter-spacing: -.02em;
}

* {
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono';
}
